{% extends 'layout.html' %}

{% block title %}
contacto
{% endblock %}

{% block content %}
<h1>pagina contacto</h1>
<p> Bienvenido</p>

<div style=" text-align: center; width: 100%; height: auto;" id="contenido d">
    <h1 style="color: white;">redes sociales, numeros de contactos y correos electronicos</h1>
    <div>
        <h3 style="color: white;">R e d e s  y  C o r r e o s </h3>
        <p style="color: white;">
            juandavidcorreaorozco@gmail.com <br>
            juandavidcorreaorozco63@gmail.com <br>
            juandavidcorreaorozco74@gmail.com <br>
        </p>
    </div>
    <div>
        <h3 style="color: white;">N u m e r o   d e   t e l e f o n o</h3>
        <p>3209014445</p>
        <p>3127823634</p>
        <p>3122954802</p>
    </div>
    <div>
        
    </div>
</div>
{% endblock %}